body {
  background: linear-gradient(to right, #87ceeb, #317692);
  margin: 0;
  padding-bottom: 190px;
}

.container-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  gap: 20px;
  background-color: #333;
  border-bottom: 2px solid black;
  box-shadow: 0 4px 6px #000000ba;
}

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5722;
  margin-left: 35px;
  width: 50px;
  height: 50px;
  padding: 10px;
  color: black;
  border: 2px solid black;
  box-shadow: 2px 2px 4px black;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
}

.btn-back:active {
  box-shadow: 1px 1px 2px black;
  transform: translateY(2px);
}

h1 {
  margin-left: -7px;
  font-size: 16px;
  color: #ff5722;
  text-shadow: 4px 4px 10px black;
}

.linha {
  width: 1px;
  height: 45px;
  background-color: #ffffffb3;
  border: none;
}

.container-info {
  display: flex;
  margin: 10px 35px -20px 35px;
  gap: 5px
}

.img-info {
  width: 20px;
  height: 20px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px 10px 0 10px;
  background-color: #ffd00092;
  box-shadow: 2px 2px 5px black;
}

.img-info:active {
  box-shadow: none;
  transform: translateY(2px);
}

.container {
  background-color: white;
  width: calc(100% - 20px);
  margin: 30px 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 7px black;
}

p {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  box-shadow: 2px 2px 4px black;
}

.div-info {
  font-size: 12px;
  background-color: #ffd00092;
  padding: 10px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  display: none;
}

.peitoral {
  background: linear-gradient(to right, #FF6F61, transparent);
}
.costas {
  background: linear-gradient(to right, #6B5B95, transparent);
}
.ombro {
  background: linear-gradient(to right, #88B04B, transparent);
}
.biceps {
  background: linear-gradient(to right, #F7CAC9, transparent);
}
.triceps {
  background: linear-gradient(to right, #92A8D1, transparent);
}
.quadriceps {
  background: linear-gradient(to right, #FFBB58, transparent);
}
.posterior {
  background: linear-gradient(to right, #009B77, transparent);
}
.panturrilha {
  background: linear-gradient(to right, #FFD662, transparent);
}
.gluteos {
  background: linear-gradient(to right, #B565A7, transparent);
}
.abdomem {
  background: linear-gradient(to right, #009BDE, transparent);
}

.menu-rodape {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  padding: 10px 0;
  background-color: #333;
  border-top: 2px solid black;
  box-shadow: 0 -4px 6px #000000ba;
}

.div-btn-rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff8a3d, #ff5722);
  font-size: 12px;
  font-weight: 600;
  color: black;
  padding: 10px;
  width: 40vw;
  border-radius: 5px;
  gap: 9px;
  box-shadow: 2px 2px 4px black;
  border: 2px solid black;
}

.disabled {
  background: none;
  background-color: #ccc;
  color: #666;
  border: 2px solid #999;
  opacity: 0.8;
  pointer-events: none;
}

.disabledGrupo {
  background: none;
  background-color: #ccc;
  color: black;
  border: 2px solid #999;
  opacity: 0.8;
  pointer-events: none;
}

.div-btn-rodape:active {
  box-shadow: 1px 1px 2px #000000c3;
  transform: translateY(2px);
}

.rest, .save {
  width: 25px;
}
